datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AADT%7DAS_ADT_SAMPLE_ReferenceChildSingle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ADT"
  xmlns:tns="urn:com:appian:types:AS:ADT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_ADT_SAMPLE_ReferenceChildSingle">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e3f1-1f0b-8000-f9ec-7f0000014e7a-adt</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e3f1-1f0b-8000-f9ec-7f0000014e7a-adt"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Reference Child Single CDT which we audit against for test cases for auditing rules]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="childId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="text" nillable="true" type="xsd:string"/>
      <xsd:element name="date" nillable="true" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
