datatype/%7Burn%3Acom%3Aappian%3Atypes%3AIO%7DAS_IO_CustomerBenchmark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:IO"
  xmlns:tns="urn:com:appian:types:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_CustomerBenchmark">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_CUSTOMER_BENCHMARK")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e59d-879c-8000-293b-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e59d-879c-8000-293b-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Cdt for customer portal Benchmark]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="benchmarkId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="BENCHMARK_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME", length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identifer" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IDENTIFIER", length=10)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE", length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AMOUNT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="currency" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CURRENCY", length=25)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hedge" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="HEDGE", length=50)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isLicenseAcquired" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_LICENSE_ACQUIRED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
