datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AALT%7DAS_ALT_AlertArgument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ALT"
  xmlns:tns="urn:com:appian:types:AS:ALT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_ALT_AlertArgument">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_ALT_ALERT_ARGUMENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e49e-0733-8000-fdaa-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e485-1692-8000-fcd7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e48c-0b80-8000-0acb-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e49e-0733-8000-fdaa-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Arguments for internationalization of alert messages]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alertArgumentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ALERT_ARGUMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="argumentPosition" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ARGUMENT_POSITION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="argument" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ARGUMENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="nestedArguments" type="tns:AS_ALT_AlertArgument">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@JoinColumn(name="ARGUMENT_ALERT_ID_PARENT") @OneToMany(cascade=CascadeType.ALL, indexed=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="argumentDisplayType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ARGUMENT_DISPLAY_TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
