datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_Question.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_QuestionPrecedentSet.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_Response.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_ResponseRequirement.xsd"/>
  <xsd:complexType name="AS_QNM_T_Question">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_T_QUESTION")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e530-26f3-8000-1bba-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0003e448-675f-8000-fa31-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-e8b4-8000-fa93-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e452-aac7-8000-fadd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e454-44bb-8000-fb18-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e456-fd74-8000-fb5d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e45d-6eec-8000-fb93-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e464-0e9c-8000-058d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e465-69e8-8000-05a5-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e466-bcc2-8000-0626-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e478-e5d3-8000-07ba-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e480-d754-8000-0890-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e48b-de5b-8000-fd1f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e48c-0984-8000-0ac7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e49b-700d-8000-fd8c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e4d4-f815-8000-123d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4db-e114-8000-12c4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e4ea-38f0-8000-14ac-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e4fb-ac20-8000-1711-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e500-a11c-8000-1731-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e530-26f3-8000-1bba-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype for storing questions on templates]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTION_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionReferenceId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTION_REFERENCE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTION_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="label" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LABEL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="instructions" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="INSTRUCTIONS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pageNumber" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PAGE_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="groupNumber" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GROUP_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orderNumber" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ORDER_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="responseOptions" type="tns:AS_QNM_T_Response">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QSTN_TMPLT_ID_RSPNSE_OPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="responseRequirements" type="tns:AS_QNM_T_ResponseRequirement">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="defaultResponses" type="tns:AS_QNM_T_Response">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QSTN_TMPLT_ID_DFLT_RESPONSE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isExternalUserFacing" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_EXTERNAL_USER_FACING")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="isDisplayedPrecedentSets" type="tns:AS_QNM_T_QuestionPrecedentSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QSTN_TEMPLATE_ID_IS_DISPLAYED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="isRequiredPrecedentSets" type="tns:AS_QNM_T_QuestionPrecedentSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QSTN_TEMPLATE_ID_IS_REQUIRED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionCategoryTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTION_CATEGORY_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="created_by")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="created_datetime")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="modified_by")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="modified_datetime")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionnaireTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
