datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_RequiredOnboardingDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingDocument.xsd"/>
  <xsd:complexType name="AS_IO_RequiredOnboardingDocument">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_REQUIRED_ONBOARDING_DOC")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7c8-e935-8000-61b1-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e426-f0ca-8000-fbdd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e42f-d401-8000-fe23-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e440-78f2-8000-00dd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e443-1a7e-8000-00f0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e50e-d53f-8000-17fe-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e528-31ec-8000-1ad7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e531-ad7b-8000-1be8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e578-8fa9-8000-2188-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e59f-f095-8000-29a8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e630-c8a7-8000-3b6f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64d-f339-8000-3e5a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7be-fb36-8000-5faf-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7c8-8e23-8000-619b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7c8-e935-8000-61b1-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for a required document for an onboarding.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requiredOnboardingDocumentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="REQUIRED_ONBOARDING_DOCUMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOC_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requirementName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUIREMENT_NAME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onboardingDocument" nillable="true" type="tns:AS_IO_OnboardingDocument">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.ALL) @JoinColumn(name="ONBOARDING_DOCUMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
