datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%3ANORTHROW%7DAS_EI_NORTHROW_V_AutomatedCompanyCheckSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:EI:NORTHROW"
  xmlns:tns="urn:com:appian:types:AS:EI:NORTHROW" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_EI_NORTHROW_V_AutomatedCompanyCheckSchedule">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_EI_NORTHROW_V_AUTOMATED_COMPANY_CHECK_SCHEDULE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e583-ac82-8000-2465-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e583-ac82-8000-2465-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[View based CDT for determining when the next automated company check should take place for companies in the system.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="companyId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COMPANY_ID", nullable=false) @Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="upcomingAutomatedCheckDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UPCOMING_AUTOMATED_CHECK_DATE", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
