datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AGM%7DAS_GM_P_UserInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:GM"
  xmlns:tns="urn:com:appian:types:AS:GM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_GM_P_UserInformation">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e496-d739-8000-0c7b-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e496-d739-8000-0c7b-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Helper CDT to store user information]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDirect" nillable="true" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="listOfParentGroups" nillable="true" type="xsd:int"/>
      <xsd:element name="isGroup" nillable="true" type="xsd:boolean"/>
      <xsd:element name="groupId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
