datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:EI"
  xmlns:tns="urn:com:appian:types:AS:EI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_Address.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_BankAccount.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_Document.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_IdentificationDetail.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_Phone.xsd"/>
  <xsd:complexType name="AS_EI_NORTHROW_Person">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e64f-2ae9-8000-3eca-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e570-578f-8000-2070-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64f-2ae9-8000-3eca-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[created to save Person details for Northrow API.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="bank_account" nillable="true" type="tns:AS_EI_NORTHROW_BankAccount">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="current_address" nillable="true" type="tns:AS_EI_NORTHROW_Address">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="date_of_birth" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documents" nillable="true" type="tns:AS_EI_NORTHROW_Document">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="email_address" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="first_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gender" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identification_details" nillable="true" type="tns:AS_EI_NORTHROW_IdentificationDetail">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="last_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="middle_name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mpan" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phone" nillable="true" type="tns:AS_EI_NORTHROW_Phone">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="previous_address" nillable="true" type="tns:AS_EI_NORTHROW_Address">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="title" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
