datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Task_Precedent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_Task_Precedent">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_TASK_PRECEDENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e3f0-8eac-8000-f9d4-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e3b6-2bf3-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3f0-8eac-8000-f9d4-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Mapping data type used to indicate that a run-time task is a precedent of another run-time task]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="taskPrecedentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="TASK_PRECEDENT_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskId_precedent" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_ID_PRECEDENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
