datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%3ARC%7DAS_IO_RC_Comment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO:RC"
  xmlns:tns="urn:com:appian:types:AS:IO:RC" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_RC_Comment">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_RC_COMMENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e5af-99ea-8000-2a2d-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2ed-6d7d-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2ee-b17c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e348-52db-8000-f92f-7f0000014e7a-io"/>
            <ns2:historyInfo versionUuid="0000e5af-99ea-8000-2a2d-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Record Comment CDT]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="commentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="COMMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commentParentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COMMENT_PARENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="comment" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=4000, name="COMMENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sentiment" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SENTIMENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recordId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="RECORD_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recordTypeId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="RECORD_TYPE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commentType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COMMENT_TYPE",length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
