datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_QuestionnaireFormInputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_QNM_QuestionnaireFormInputs">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4a0-77d3-8000-fdcc-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4a0-77d3-8000-fdcc-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Runtime CDT used to populate form inputs for questionnaire display, maintaining modularity in processes]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="formTitle" nillable="true" type="xsd:string"/>
      <xsd:element name="formTitleInternationalizationFolderId"
        nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="formTitleArguments" nillable="true" type="xsd:string"/>
      <xsd:element name="recordLink" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
