datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AADT%7DAS_ADT_P_AuditProcessParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ADT"
  xmlns:tns="urn:com:appian:types:AS:ADT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_ADT_P_AuditProcessParameters">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e542-3751-8000-1cc1-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e3f5-7a88-8000-fa63-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e3ff-835a-8000-7753-454d98454d98-fs"/>
            <ns2:historyInfo versionUuid="0000e467-432e-8000-3742-a84d98a84d98-adt"/>
            <ns2:historyInfo versionUuid="0000e467-432e-8000-3742-a84d98a84d98-adt-adt"/>
            <ns2:historyInfo versionUuid="0000e4c0-0ef2-8000-0fef-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e542-3751-8000-1cc1-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Parameters to pass into process model `AS ADT Audit Process`]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="originalObjects" nillable="true" type="xsd:anyType"/>
      <xsd:element name="newObjects" nillable="true" type="xsd:anyType"/>
      <xsd:element name="objectTypeNumber" nillable="true" type="xsd:int"/>
      <xsd:element name="namespace" nillable="true" type="xsd:string"/>
      <xsd:element name="objectDse" nillable="true" type="xsd:anyType"/>
      <xsd:element name="auditDse" nillable="true" type="xsd:anyType"/>
      <xsd:element name="username" nillable="true" type="xsd:string"/>
      <xsd:element name="auditConfig" nillable="true" type="xsd:anyType"/>
      <xsd:element name="auditObject" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
