datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_CS_Result_finding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_CS_Result_finding">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_CS_RESULT_FINDING")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e345-ecc2-8000-f92f-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e323-5bbf-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e345-e2ec-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e345-ecc2-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-f5a1-8000-0178-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[findings for a consolidated screening from trade.gov]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="resultFindingId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="RESULT_FINDING_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="resultId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RESULT_ID") @JoinColumn</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="id" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="source" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="SOURCE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="source_information_url" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="SOURCE_INFORMATION_URL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="score" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SCORE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alt_names" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=4000, name="ALT_NAMES")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isRelevant" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_RELEVANT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
