datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_A_AlertConfigurationFilterSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_A_AlertConfigurationFilterCondition.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_A_AlertConfigurationFilterSet_Field.xsd"/>
  <xsd:complexType name="AS_FS_ALT_A_AlertConfigurationFilterSet">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_ALT_A_ALERT_CONFIGURATION_FILTER_SET")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:Flags>HIDDEN</ns2:Flags>
          <ns2:versionUuid>0000e72e-a2b1-8000-55d7-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e718-3e9e-8000-5339-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e71a-826e-8000-53bf-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e71a-9994-8000-5405-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e72e-a2b1-8000-55d7-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Audit table for alert configuration filter]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alertConfigurationFilterSetAuditId"
        nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ALERT_CONFIGURATION_FILTER_SET_AUDIT_ID", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertConfigurationFilterSetId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_CONFIGURATION_FILTER_SET_ID", columnDefinition="INT") @JoinColumn(name="ALERT_CONFIGURATION_FILTER_SET_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP", columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="auditActionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AUDIT_ACTION_CODE", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="simpleFieldChanges" type="tns:AS_FS_ALT_A_AlertConfigurationFilterSet_Field">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="ALERT_CONFIGURATION_FILTER_SET_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="filterConditionChanges" type="tns:AS_FS_ALT_A_AlertConfigurationFilterCondition">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="ALERT_CONFIGURATION_FILTER_SET_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
