datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_Questionnaire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_Question.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_QuestionCategory.xsd"/>
  <xsd:complexType name="AS_QNM_T_Questionnaire">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_T_QUESTIONNAIRE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0002e6da-daa9-8000-4aa0-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0005e448-675f-8000-fa31-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e44a-e8b4-8000-fa93-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e452-aac7-8000-fadd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e454-44bb-8000-fb18-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e456-fd74-8000-fb5d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e45d-6eec-8000-fb93-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e464-0e9c-8000-058d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e465-69e8-8000-05a5-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e466-bcc2-8000-0626-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e478-e5d3-8000-07ba-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e480-d754-8000-0890-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e48b-995f-8000-fd06-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e48b-de5b-8000-fd1f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e48c-0984-8000-0ac7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e49b-700d-8000-fd8c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4cc-e6fc-8000-1110-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e4d4-f815-8000-123d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e4db-e114-8000-12c4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e4ea-38f0-8000-14ac-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e4fb-ac20-8000-1711-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e4fc-e8be-8000-1726-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e500-a11c-8000-1731-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e530-26f3-8000-1bba-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6d6-e5ba-8000-495b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e6da-daa9-8000-4aa0-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype for questionnaire templates]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionnaireTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DESCRIPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="questions" type="tns:AS_QNM_T_Question">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="questionCategories" type="tns:AS_QNM_T_QuestionCategory">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerDomicile" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_DOMICILE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
