datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:com:appian:types:AS:FS" schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_DOCUSIGN_R_DocSignatureContext.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskBehaviorType.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskCategory.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskRef_DocUploadContext.xsd"/>
  <xsd:complexType name="AS_IO_R_TaskRef">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_R_TASK_REF")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0002e6aa-4cb5-8000-4722-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e3b5-ce02-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3ed-6180-8000-f994-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e3f8-7d9e-8000-faee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e3fa-9cb1-8000-fb8a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e400-40b6-8000-fbd0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e597-2535-8000-2829-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e6aa-4cb5-8000-4722-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Reference task which can be referenced in templates]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="taskRefId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="TASK_REF_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_NAME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskBehaviorType" nillable="true" type="tns:AS_IO_R_TaskBehaviorType">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_BEHAVIOR_TYPE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskCategory" nillable="true" type="tns:AS_IO_R_TaskCategory">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_CATEGORY_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="defaultGroupAssignee" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DEFAULT_GROUP_ASSIGNEE", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docUploadContext" nillable="true" type="tns:AS_IO_R_TaskRef_DocUploadContext">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.ALL) @JoinColumn(name="TASK_REF_DOC_UPLOAD_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docSignatureContext" nillable="true" type="fs1:AS_FS_DOCUSIGN_R_DocSignatureContext">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="DOC_SIGNATURE_CONTEXT_REF_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
