datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_R_FieldType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_QNM_R_FieldType">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4ef-7649-8000-1531-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e477-c3a5-8000-07a4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4df-d9a7-8000-132f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4ef-7649-8000-1531-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype for enumerating question type fields and tying them to a set of rules and metadata.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fieldKey" nillable="true" type="xsd:string"/>
      <xsd:element name="fieldType" nillable="true" type="xsd:string"/>
      <xsd:element name="fieldResponseType" nillable="true" type="xsd:string"/>
      <xsd:element name="validate" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
