datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_TemplateMappingFieldConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_TemplateMappingFieldConfig">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e6da-1dd2-8000-4a28-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e6da-1dd2-8000-4a28-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Runtime CDT used to define the required structure for custom template mapping fields]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="templateField" nillable="true" type="xsd:anyType"/>
      <xsd:element name="onboardingField" nillable="true" type="xsd:anyType"/>
      <xsd:element name="label" nillable="true" type="xsd:string"/>
      <xsd:element name="placeholderLabel" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="choiceLabels" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="choiceValues" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
