datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%3ADOCUSIGN%7DAS_EI_DOCUSIGN_DocumentNameIdMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:EI:DOCUSIGN"
  xmlns:a="http://www.appian.com/ae/types/2009"
  xmlns:tns="urn:com:appian:types:AS:EI:DOCUSIGN" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.appian.com/ae/types/2009" schemaLocation="%7Bhttp%3A%2F%2Fwww.appian.com%2Fae%2Ftypes%2F2009%7DCollaborationDocument.xsd"/>
  <xsd:complexType name="AS_EI_DOCUSIGN_DocumentNameIdMap">
    <xsd:annotation>
      <xsd:documentation><![CDATA[CDT used to link a document name visible to an end user who is signing the document to an appian document ID]]></xsd:documentation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e593-a4aa-8000-273a-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e593-a4aa-8000-273a-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="documentName" nillable="true" type="xsd:string"/>
      <xsd:element name="uniqueIdentifier" nillable="true" type="xsd:int"/>
      <xsd:element name="document" nillable="true" type="a:CollaborationDocument"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
