datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%7DAS_EI_NORTHROW_BackOrFront.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:EI"
  xmlns:tns="urn:com:appian:types:AS:EI" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_EI_NORTHROW_BackOrFront">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e55f-57dc-8000-1ea8-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e55f-57dc-8000-1ea8-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[created to save back or front side details of document]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="data" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
