datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_CONF_AlertConfigurationTriggerCondition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_FS_ALT_CONF_AlertConfigurationTriggerCondition">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_ALT_CONF_ALERT_CONFIGURATION_TRIGGER_CONDITION")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e71d-03a6-8000-5482-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e71d-03a6-8000-5482-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT for Alert configuration trigger condition ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alertConfigurationTriggerConditionId"
        nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ALERT_CONFIGURATION_TRIGGER_CONDITION_ID", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertConfigurationTriggerSetId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_CONFIGURATION_TRIGGER_SET_ID", columnDefinition="INT") @JoinColumn(name="ALERT_CONFIGURATION_TRIGGER_SET_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertConfigurationTriggerTypeCode"
        nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_CONFIGURATION_TRIGGER_TYPE_CODE", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="configurationTriggerSettings" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CONFIGURATION_TRIGGER_SETTINGS", columnDefinition="VARCHAR(4000)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false, columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false, columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", nullable=false, columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false, columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
