datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Fee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Country.xsd"/>
  <xsd:complexType name="AS_FS_Fee">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_FEE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e5f3-18a2-8000-328a-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e5f3-18a2-8000-328a-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[fees for a product/account]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="feeId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="FEE_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fee" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FEE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adValorem" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AD_VALOREM")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transactionCharge" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TRANSACTION_CHARGE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transactionCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TRANSACTION_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feeCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FEE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="country" nillable="true" type="tns:AS_FS_Country">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="COUNTRY_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
