datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_R_Data">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_R_DATA")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e6ad-674d-8000-47c5-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2ed-5a03-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e365-53d3-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e41b-5bfb-8000-fa7d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e41c-9ea4-8000-fa92-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e41d-00b4-8000-fb14-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e436-fa36-8000-ff9a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e437-258f-8000-ffa8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-f292-8000-0171-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e449-9140-8000-0146-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e47f-51c5-8000-084e-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e49a-c259-8000-0ceb-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e5ba-7c1f-8000-2b24-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6aa-4846-8000-4715-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6ab-4974-8000-4769-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6ad-674d-8000-47c5-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[IO reference data that points to the `AS_IO_R_DATA` IO-specific reference table. ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rDataId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="R_DATA_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="label" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LABEL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sortOrder" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SORT_ORDER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="icon" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ICON", length=50)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
