datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AEI%3ADNB%7DAS_EI_DNB_UltimateBeneficialOwnershipRequestInputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:EI:DNB"
  xmlns:tns="urn:com:appian:types:AS:EI:DNB" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_EI_DNB_UltimateBeneficialOwnershipRequestInputs">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e6bc-e437-8000-4834-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e58b-3f56-8000-25ff-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6bc-e437-8000-4834-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Contains inputs to the Dun and Bradstreet UBO request integration]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="duns" nillable="true" type="xsd:string"/>
      <xsd:element name="productId" nillable="true" type="xsd:string"/>
      <xsd:element name="versionId" nillable="true" type="xsd:string"/>
      <xsd:element name="ownershipType" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
