datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Product_P.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Account_C.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Country.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Fee.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_PayThreshold.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Term.xsd"/>
  <xsd:complexType name="AS_IO_Product_P">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_PRODUCT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7fe-5008-8000-6eaf-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e2ec-16b2-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e305-2a12-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e319-3918-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e32f-5381-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e351-d26e-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e382-a175-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-f2f3-8000-0174-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e449-adb8-8000-014b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e530-70dc-8000-1bcd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e531-ad7b-8000-1be8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e578-8fa9-8000-2188-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e59f-f0f7-8000-29ac-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e5b4-c2ef-8000-2ae3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64e-1db8-8000-3e9f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6b2-06fe-8000-47ee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7fe-5008-8000-6eaf-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for the attributes related to the products of a request

For more information see: https://docs.google.com/document/d/1dQpJ2O4U1weA6AdR9FrjETKV46sNBZFd62Bb2h-2il8/edit]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="productId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="accounts" type="tns:AS_IO_Account_C">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToMany(cascade=CascadeType.ALL, indexed=false) @JoinTable(name="AS_IO_ACCOUNT_PRODUCT_MAP", joinColumns=@JoinColumn(name="PRODUCT_ID"), inverseJoinColumns=@JoinColumn(name="ACCOUNT_ID"))</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fundId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FUND_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRODUCT_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DESCRIPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entity" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entityType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY_TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strategy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STRATEGY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="value" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="duration" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DURATION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="upfrontFee" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UPFRONT_FEE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="commitmentFee" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COMMITMENT_FEE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interest" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="INTEREST")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coverRequired" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COVER_REQUIRED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="collateral" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COLLATERAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="collateralValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COLLATERAL_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="collateralCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COLLATERAL_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coverProvided" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COVER_PROVIDED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isParent" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_PARENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="term" nillable="true" type="tns:AS_IO_Term">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="TERM_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="countries" type="tns:AS_IO_Country">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fees" type="tns:AS_IO_Fee">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="thresholds" type="tns:AS_IO_PayThreshold">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
