datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AALT%7DAS_ALT_AlertDismissal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ALT"
  xmlns:fs2="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:ALT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:com:appian:types:AS:FS" schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_R_Data.xsd"/>
  <xsd:complexType name="AS_ALT_AlertDismissal">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_ALT_ALERT_DISMISSAL")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e6db-6f48-8000-4b35-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e484-fcb4-8000-fccf-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e48a-3ae9-8000-fcee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6db-1245-8000-4ac2-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6db-6f48-8000-4b35-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Tracks who has dismissed an alert so as to not display it for those users moving forward.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alertDismissalId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ALERT_DISMISSAL_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dismissalComment" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DISMISSAL_COMMENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" nillable="true" type="fs2:AS_FS_R_Data">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="REASON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
