datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AADT%7DAS_ADT_AdditionalField.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ADT"
  xmlns:tns="urn:com:appian:types:AS:ADT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_ADT_AdditionalField">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e685-8e34-8000-4310-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e685-8e34-8000-4310-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Structure used in the auditConfig to denote any fields that should be stored in the audit object row every time the object is audited, regardless of whether or not it is updated.  Useful for tracking CODES or other identifying information for entries that can be hard-deleted from the database.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="field" nillable="true" type="xsd:string"/>
      <xsd:element name="path" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
