datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_P_TrendsReportDisplay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_P_TrendsReportDisplay">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e6d7-abac-8000-4978-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e6d2-144e-8000-4929-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6d7-abac-8000-4978-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Used to define the structure that should be used in the AS_IO_FM_TrendsReportDisplay customizable rule]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="label" nillable="true" type="xsd:string"/>
      <xsd:element name="interfaceReference" nillable="true" type="xsd:anyType"/>
      <xsd:element name="showWhen" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
