datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_CS_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_CS_Result_finding.xsd"/>
  <xsd:complexType name="AS_IO_CS_Result">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_CS_RESULT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e345-f6ba-8000-f92f-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e323-9902-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e32b-9503-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e345-e2ec-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e345-f6ba-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-f58d-8000-0177-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[result from the consolidated screening]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="resultId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="RESULT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID") @JoinColumn</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_ID") @JoinColumn</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="CUSTOMER_NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="total" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TOTAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sourceList" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SOURCE_LIST", length=4000)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="searchDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SEARCH_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="results" type="tns:AS_IO_CS_Result_finding">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="RESULT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
