datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingDocumentWithIONesting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:com:appian:types:AS:FS" schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_CustomerDocument.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingRequest.xsd"/>
  <xsd:complexType name="AS_IO_OnboardingDocumentWithIONesting">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_ONBOARDING_DOCUMENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0010e7d2-fe70-8000-6427-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e6aa-5ad9-8000-4730-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000fe6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0013e72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e748-f14d-8000-584a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0010e7d2-fe70-8000-6427-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Created to contain Onboarding Requests Nesting]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="onboardingDocumentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ONBOARDING_DOCUMENT_ID", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onboarding" nillable="true" type="tns:AS_IO_OnboardingRequest">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerDocuments" nillable="true" type="fs1:AS_FS_CustomerDocument">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="CUSTOMER_DOCUMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
