datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_T_OnboardingAccountTypeProductTypeMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_T_OnboardingAccountTypeProductTypeMapping">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_T_ONBOARDING_ACCOUNT_TYPE_PRODUCT_TYPE_MAPPING")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7e7-0134-8000-67c8-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e7e7-0134-8000-67c8-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Mapping CDT for account types and product types in onboarding templates]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="onboardingAccountTypeProductTypeMappingId"
        nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ONBOARDING_ACCOUNT_TYPE_PRODUCT_TYPE_MAPPING_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACCOUNT_TYPE_CODE", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onboardingProductTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ONBOARDING_PRODUCT_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
