datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_A_RequiredDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_A_RequiredDocument_Field.xsd"/>
  <xsd:complexType name="AS_IO_A_RequiredDocument">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_A_REQUIRED_DOCUMENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7e7-b9fa-8000-67df-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e7d4-065a-8000-6488-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7e7-b9fa-8000-67df-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Audit For required Document]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requiredDocumentAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="REQUIRED_DOCUMENT_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requiredOnboardingDocumentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUIRED_ONBOARDING_DOCUMENT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="auditActionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AUDIT_ACTION_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="userName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timeStamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="simpleFieldChanges" type="tns:AS_IO_A_RequiredDocument_Field">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="REQUIRED_DOCUMENT_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
