datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_IDP_DocUnderstanding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_FS_IDP_DocUnderstanding">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_IDP_DOC_UNDERSTANDING")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e58e-e344-8000-2716-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e58e-e344-8000-2716-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Cdt for Doc Understanding ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="understandingId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="UNDERSTANDING_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documentId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOCUMENT_ID", length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="documentName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="DOCUMENT_NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="channelId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CHANNEL_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="receivedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECEIVED_ON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="understandingStatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="UNDERSTANDING_STATUS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="jobGuid" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="JOB_GUID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cloudStorageUri" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="CLOUD_STORAGE_URI")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isPreClassified" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_PRE_CLASSIFIED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="predictedDocTypeId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PREDICTED_DOC_TYPE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docTypeConf" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOC_TYPE_CONF")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="docTypeId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOC_TYPE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isClassificationVerified" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_CLASSIFICATION_VERIFIED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classificationAcceptedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CLASSIFICATION_ACCEPTED_ON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classificationCompletedOn" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CLASSIFICATION_COMPLETED_ON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255, name="CLASSIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="useClassification" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USE_CLASSIFICATION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isStructured" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_STRUCTURED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
