datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_TaskActionAudit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:io5="urn:com:appian:types:IO"
  xmlns:qnm4="urn:com:appian:types:AS:QNM"
  xmlns:rc3="urn:com:appian:types:AS:IO:RC"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskAction.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Task.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Task_Review.xsd"/>
  <xsd:complexType name="AS_IO_TaskActionAudit">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_TASK_ACTION_AUDIT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e809-3d73-8000-708c-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2d7-13e4-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2ec-277f-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2f6-ea4e-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e311-1c99-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0006e3cb-081c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e3f0-8eac-8000-f9d4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e3f8-7d9e-8000-faee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e3fa-9cb1-8000-fb8a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3ff-39a3-8000-fbbe-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e400-40c4-8000-fbd7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e402-7001-8000-fc20-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e41d-f58a-8000-fb63-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e42f-da57-8000-fe3d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0007e430-b218-8000-fe4f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e465-e715-8000-0611-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e469-0bf0-8000-066d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e472-1e49-8000-0745-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e47b-07ba-8000-082d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e480-8407-8000-0884-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0007e482-dbee-8000-08f3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e48e-08d6-8000-0bb9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4ae-a474-8000-0fa0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0008e4d7-c76b-8000-1262-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000ae51c-1173-8000-19ab-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e529-6265-8000-1b12-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e58e-e344-8000-2716-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000ae597-253b-8000-282a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e59d-879c-8000-293b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0009e5b2-379d-8000-2a98-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e5cf-9f20-8000-2d7f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e5eb-9e17-8000-31b1-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64e-0bac-8000-3e7f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e6aa-4cb5-8000-4722-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e6aa-7fc7-8000-4737-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0016e6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="001ce72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0008e748-f14d-8000-584a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e7ae-7328-8000-5ee9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e7af-bd8b-8000-5f1f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e7be-fb36-8000-5faf-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e7c8-8e23-8000-619b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e7c8-e935-8000-61b1-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e7cb-1efc-8000-62a6-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0019e7d2-fe70-8000-6427-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e7e6-b320-8000-67a9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e809-3d73-8000-708c-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Audit changes to work (runtime tasks)]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="taskActionAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="TASK_ACTION_AUDIT_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="task" nillable="true" type="tns:AS_IO_Task">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ONB_WORK_ID", nullable=false) @ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskAction" nillable="true" type="tns:AS_IO_R_TaskAction">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_ACTION", nullable=false) @ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_ACTION_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assignedTo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ASSIGNED_TO")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="review" nillable="true" type="tns:AS_IO_Task_Review">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_REVIEW_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="comment" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oldDueDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OLD_DUE_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
