datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Questionnaire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Question.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_QuestionCategory.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Questionnaire_Field.xsd"/>
  <xsd:complexType name="AS_QNM_A_T_Questionnaire">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_A_T_QUESTIONNAIRE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:Flags>HIDDEN</ns2:Flags>
          <ns2:versionUuid>0000e560-ed72-8000-1f61-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e49b-68da-8000-fd86-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e4f8-a433-8000-16ce-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e542-5c2b-8000-1d27-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e560-ed72-8000-1f61-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds auditing data for the `AS_QNM_T_Questionnaire` CDT]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionnaireTemplateAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTIONNAIRE_TEMPLATE_AUDIT_ID", unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionnaireTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recordId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECORD_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="auditActionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AUDIT_ACTION_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="simpleFieldChanges" type="tns:AS_QNM_A_T_Questionnaire_Field">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTIONNAIRE_TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="questionChanges" type="tns:AS_QNM_A_T_Question">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTIONNAIRE_TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="questionCategoryChanges" type="tns:AS_QNM_A_T_QuestionCategory">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTIONNAIRE_TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
