datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_R_Country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_FS_R_Country">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_R_COUNTRY")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e72b-88a6-8000-5557-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e512-efa8-8000-18ac-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e52e-90ef-8000-1b87-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6c7-67d0-8000-48a8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e72b-88a6-8000-5557-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Country Reference data]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="countryCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COUNTRY_CODE", nullable=false) @Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COUNTRY_NAME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REGION_CODE", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sortOrder" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SORT_ORDER", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flagUnicodeJson" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FLAG_UNICODE_JSON", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
