datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_QuestionCategory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_QNM_T_QuestionCategory">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_T_QUESTION_CATEGORY")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4fc-e8be-8000-1726-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e448-56ab-8000-fa04-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000ce448-8d7d-8000-fa3b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e455-b94c-8000-fb1c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e480-d754-8000-0890-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e48b-fe4e-8000-0aa6-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4d2-56e2-8000-11a4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4ea-36eb-8000-14a4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4fc-e8be-8000-1726-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype for indicating the category of a template question.  This is a business defined datatype.  Not to be confused with QuestionType, which dictates the UI and other metadata that pertain to a question.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionCategoryTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTION_CATEGORY_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionnaireTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTIONNAIRE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionCategoryName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTION_CATEGORY_NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionCategoryDescription" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QSTION_CATEGORY_DESCRIPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="displayOrder" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DISPLAY_ORDER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
