datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_CONF_AlertConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_CONF_AlertConfigurationEvent.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_CONF_AlertConfigurationFilterSet.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_CONF_AlertConfigurationTriggerSet.xsd"/>
  <xsd:complexType name="AS_FS_ALT_CONF_AlertConfiguration">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_ALT_CONF_ALERT_CONFIGURATION")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e73c-f763-8000-574b-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0002e718-347c-8000-5318-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e718-4533-8000-5350-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e71a-994c-8000-5400-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e71b-c62b-8000-543d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e71d-0567-8000-5492-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e72d-0537-8000-559d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e73c-710c-8000-5731-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e73c-f763-8000-574b-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Alert Configuration datatype for AS_FS.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="alertConfigurationId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ALERT_CONFIGURATION_ID", nullable=false, unique=true, columnDefinition="INT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertConfigurationName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_CONFIGURATION_NAME", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertText" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_TEXT", columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ACTIVE", columnDefinition="BIT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false, columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false, columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", nullable=false, columnDefinition="VARCHAR(255)")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false, columnDefinition="DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="events" type="tns:AS_FS_ALT_CONF_AlertConfigurationEvent">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="ALERT_CONFIGURATION_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="filterSet" type="tns:AS_FS_ALT_CONF_AlertConfigurationFilterSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="ALERT_CONFIGURATION_FILTER_SET_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerSet" type="tns:AS_FS_ALT_CONF_AlertConfigurationTriggerSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="ALERT_CONFIGURATION_TRIGGER_SET_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
