datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3ACO%7DAS_CO_Example_DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:CO"
  xmlns:a="http://www.appian.com/ae/types/2009"
  xmlns:tns="urn:com:appian:types:AS:CO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.appian.com/ae/types/2009" schemaLocation="%7Bhttp%3A%2F%2Fwww.appian.com%2Fae%2Ftypes%2F2009%7DCollaborationDocument.xsd"/>
  <xsd:complexType name="AS_CO_Example_DataType">
    <xsd:annotation>
      <xsd:documentation><![CDATA[example data type]]></xsd:documentation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e70a-b216-8000-5030-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e70a-b216-8000-5030-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="text" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="integer" nillable="true" type="xsd:int"/>
      <xsd:element name="decimal" nillable="true" type="xsd:double"/>
      <xsd:element name="boolean" nillable="true" type="xsd:boolean"/>
      <xsd:element name="date" nillable="true" type="xsd:date"/>
      <xsd:element name="document" nillable="true" type="a:CollaborationDocument"/>
      <xsd:element name="nestedExampleSingle" type="tns:AS_CO_Example_DataType">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.REFRESH)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="nestedExampleMultiple" nillable="true" type="tns:AS_CO_Example_DataType">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
