datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_FS_Country">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_COUNTRY")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e5f3-18a2-8000-328a-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e5f3-18a2-8000-328a-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for a country added in a product]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="countryId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="COUNTRY_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRODUCT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COUNTRY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isTradingAllowed" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_TRADING_ALLOWED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
