datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_R_QuestionPrecedent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_R_ResponseRequirement.xsd"/>
  <xsd:complexType name="AS_QNM_R_QuestionPrecedent">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_R_QSTN_PRECEDENT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4cd-4bb2-8000-114e-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e45d-6611-8000-fb77-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4cd-4bb2-8000-114e-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype indicating the required/prohibited responses for a precedent to be considered fulfilled.  Functions similarly to a queryFilter in Appian.  NOTE: In this reference version of the precedent CDT, there is no pointer to a precedent question.  Because reference questions are standalone, precedents can only depend upon the responses to their own fields.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionPrecedentReferenceId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTION_PRECEDENT_REF_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="responseRequirement" type="tns:AS_QNM_R_ResponseRequirement">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_PRECEDENT_REF_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
