datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Question.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_QuestionPrecedentSet.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Question_Field.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_Response.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_A_T_ResponseRequirement.xsd"/>
  <xsd:complexType name="AS_QNM_A_T_Question">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_A_T_QUESTION")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:Flags>HIDDEN</ns2:Flags>
          <ns2:versionUuid>0000e542-5b70-8000-1d1f-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e4fa-ecf3-8000-1708-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e542-5b70-8000-1d1f-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds auditing data for `AS_QNM_T_Question`]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="questionTemplateAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="QUESTION_TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="questionTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="QUESTION_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recordId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECORD_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="auditActionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AUDIT_ACTION_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="simpleFieldChanges" type="tns:AS_QNM_A_T_Question_Field">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="responseOptionsChanges" type="tns:AS_QNM_A_T_Response">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_ID_RESPONSE_OPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="responseRequirementsChanges" type="tns:AS_QNM_A_T_ResponseRequirement">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="defaultResponsesChanges" type="tns:AS_QNM_A_T_Response">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_AUDIT_ID_DEFAULT_RESPONSE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="isDisplayedPrecedentSetsChanges" type="tns:AS_QNM_A_T_QuestionPrecedentSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_AUDIT_ID_IS_DISPLAYED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="isRequiredPrecedentSetsChanges" type="tns:AS_QNM_A_T_QuestionPrecedentSet">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="QUESTION_TEMPLATE_AUDIT_ID_IS_REQUIRED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
