datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_V_OnboardingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:com:appian:types:AS:FS" schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Customer.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Owner.xsd"/>
  <xsd:complexType name="AS_IO_V_OnboardingRequest">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_V_ONBOARDING_REQUEST")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0002e7d2-fe70-8000-6427-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2e9-6e15-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2ec-2194-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e30e-5c47-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e317-cd0b-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e366-ffac-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e367-05c5-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e378-24fe-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e381-78a7-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e415-91b9-8000-fcb8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e41d-fb8d-8000-fb77-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e42e-e24a-8000-fdba-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e430-b218-8000-fe4f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e47f-5183-8000-084b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e482-dbee-8000-08f3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e48d-f7dc-8000-0ba7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e49b-04eb-8000-0cfb-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4a9-465c-8000-0f54-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4b7-c93b-8000-0fd4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e4d7-c76b-8000-1262-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e51c-1173-8000-19ab-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e526-a7a3-8000-1aa7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e58d-4412-8000-2671-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e5b2-379d-8000-2a98-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6d7-e882-8000-497c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000ce72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e748-f14d-8000-584a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e7d2-fe70-8000-6427-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for the attributes related to the view for the onboarding request record ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uniqueIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UNIQUE_IDENTIFIER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STATUS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estFundingDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_FUNDING_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estFundingValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_FUNDING_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estValueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualFundingDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_FUNDING_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualFundingValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_FUNDING_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualValueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coalescedFundingDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COALESCED_FUNDING_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coalescedFundingValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COALESCED_FUNDING_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="coalescedValueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="COALESCED_VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="priorityCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRIORITY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forNewClient" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FOR_NEW_CLIENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="owners" type="tns:AS_IO_Owner">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.REFRESH, indexed=false) @JoinColumn(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customer" nillable="true" type="fs1:AS_FS_Customer">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.ALL) @JoinColumn(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isAtRisk" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_AT_RISK", columnDefinition="Integer", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="primaryOwner" nillable="true" type="tns:AS_IO_Owner">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="PRIMARY_OWNER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
