datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_ALT_UNMAPPED_TriggerTypeConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_FS_ALT_UNMAPPED_TriggerTypeConfiguration">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e72c-82f5-8000-5574-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e71c-f571-8000-547b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e722-b633-8000-54dd-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e72c-82f5-8000-5574-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[structure used to hold Trigger configurations]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="triggerTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerTypeLabel" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(length=255)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="additionalTriggerConfigurationComponents"
        nillable="true" type="xsd:anyType"/>
      <xsd:element name="visibilityRule" nillable="true" type="xsd:anyType"/>
      <xsd:element name="evaluationRule" nillable="true" type="xsd:anyType"/>
      <xsd:element name="readOnlyDisplayRule" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
