datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_T_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_QNM_T_Response">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_QNM_T_RESPONSE")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e4ea-38f0-8000-14ac-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0001e448-4d16-8000-f9e4-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e449-725a-8000-fa57-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e456-959b-8000-fb38-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e4ea-38f0-8000-14ac-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Datatype for indicating a default response/response options in template questions]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="responseTemplateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="RESPONSE_TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fieldKey" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FIELD_KEY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="label" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LABEL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="value" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
