datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_A_Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_A_Customer_Field.xsd"/>
  <xsd:complexType name="AS_FS_A_Customer">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_A_CUSTOMER")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:Flags>HIDDEN</ns2:Flags>
          <ns2:versionUuid>0000e646-6fb2-8000-3d7c-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e51f-c690-8000-1a4b-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e542-3aeb-8000-1cc9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e569-0410-8000-1fee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e5df-de17-8000-2f47-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e610-962c-8000-365c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e646-6fb2-8000-3d7c-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds auditing data for `AS_FS_Customer`]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="customerAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="CUSTOMER_AUDIT_ID", unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="recordId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RECORD_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TIMESTAMP")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="username" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="USERNAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="auditActionCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="AUDIT_ACTION_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="simpleFieldChanges" type="tns:AS_FS_A_Customer_Field">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="CUSTOMER_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
