datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:com:appian:types:AS:FS" schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Customer.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingFundingDetails.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Owner.xsd"/>
  <xsd:complexType name="AS_IO_OnboardingRequest">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_ONBOARDING_REQUEST")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0001e7d2-fe70-8000-6427-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2dc-60c9-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2ec-20c2-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e2ee-da13-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e305-264c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e381-90c4-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3cb-081c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e41d-f58a-8000-fb63-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e42e-e221-8000-fdb7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e430-b218-8000-fe4f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e449-a68c-8000-0149-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e44a-ff45-8000-017a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e472-19fb-8000-073d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e47b-07ba-8000-082d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e482-dbee-8000-08f3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e48e-08d6-8000-0bb9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e4a9-6b4e-8000-0f66-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e4d7-c76b-8000-1262-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e51c-1173-8000-19ab-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e525-6c0a-8000-1a96-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e583-7f67-8000-244a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e5b2-379d-8000-2a98-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e5ba-7c17-8000-2b23-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e748-f14d-8000-584a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e7d2-fe70-8000-6427-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for the attributes related to the onboarding request 

For more information see: https://docs.appian.com/suite/help/20.1/io/modifying-record-fields.html]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="uniqueIdentifier" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="UNIQUE_IDENTIFIER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STATUS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DESCRIPTION")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cancelReason" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CANCEL_REASON")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forNewClient" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FOR_NEW_CLIENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="priorityCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRIORITY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="templateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="slaDayType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SLA_DAY_TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customer" nillable="true" type="fs1:AS_FS_Customer">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.ALL) @JoinColumn(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="primaryOwner" nillable="true" type="tns:AS_IO_Owner">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="OWNER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fundingDetails" nillable="true" type="tns:AS_IO_OnboardingFundingDetails">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="FUNDING_DETAILS_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
