datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AADT%7DAS_ADT_SAMPLE_ExternalMappingFields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:ADT"
  xmlns:tns="urn:com:appian:types:AS:ADT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_ADT_SAMPLE_ExternalMappingFields">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e60c-97c7-8000-3576-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e60c-97c7-8000-3576-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[CDT containing mapping fields that we want to audit against in the sample parent, despite it not being nested.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="externalMappingFieldsId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parentId" nillable="true" type="xsd:int"/>
      <xsd:element name="externalFieldOne" nillable="true" type="xsd:string"/>
      <xsd:element name="externalFieldTwo" nillable="true" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
