datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Account_P.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Country.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Product_C.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_Term.xsd"/>
  <xsd:complexType name="AS_IO_Account_P">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_ACCOUNT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0002e5b4-c2ef-8000-2ae3-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e2ec-169e-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e305-2a33-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e312-72e6-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e32e-2ffb-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e351-d21e-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e382-a16c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e449-adc1-8000-014c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e5b4-c2ef-8000-2ae3-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Parent CDT for the Account Record -- This nests AS_IO_Product_C, AS_IO_Term, and AS_IO_Country (list) and points to the AS_IO_ACCOUNT table - isParent will be equal to true when this is called

For more information see: https://docs.google.com/document/d/1dQpJ2O4U1weA6AdR9FrjETKV46sNBZFd62Bb2h-2il8/edit]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="accountId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="ACCOUNT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fundId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FUND_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="products" type="tns:AS_IO_Product_C">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToMany(cascade=CascadeType.ALL, indexed=false) @JoinTable(name="AS_IO_ACCOUNT_PRODUCT_MAP", joinColumns=@JoinColumn(name="ACCOUNT_ID"), inverseJoinColumns=@JoinColumn(name="PRODUCT_ID"))</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STATUS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACCOUNT_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="owner" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OWNER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DESCRIPTION", length=2000)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strategy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STRATEGY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entity" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entityType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ENTITY_TYPE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estFundingDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_FUNDING_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estFundingValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_FUNDING_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="estValueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EST_VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualFundingDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_FUNDING_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualFundingValue" nillable="true" type="xsd:double">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_FUNDING_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="actualValueCurrencyCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ACTUAL_VALUE_CURRENCY_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="term" nillable="true" type="tns:AS_IO_Term">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToOne(cascade=CascadeType.ALL) @JoinColumn(name="TERM_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="countries" type="tns:AS_IO_Country">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="ACCOUNT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isParent" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_PARENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
