datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:FS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AFS%7DAS_FS_R_Country.xsd"/>
  <xsd:complexType name="AS_FS_Customer">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_FS_CUSTOMER")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7d2-fe70-8000-6427-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e51c-1173-8000-19ab-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e583-7f67-8000-244a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e5b2-379d-8000-2a98-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e5ba-7c0a-8000-2b22-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7d2-fe70-8000-6427-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Data type for customer attributes]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="customerId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="CUSTOMER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerAcronym" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_ACRONYM")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isInternational" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_INTERNATIONAL")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="domicile" nillable="true" type="tns:AS_FS_R_Country">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DOMICILE") @ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="DOMICILE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="riskScore" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="RISK_SCORE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="duns" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DUNS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customerNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CUSTOMER_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gmei" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GMEI")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taxId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TAX_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isQIB" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_QIB")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isERISA" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_ERISA")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="industryClassificationCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="INDUSTRY_CLASSIFICATION_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="folderId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FOLDER_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alertSetId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ALERT_SET_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="groupId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GROUP_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validThroughDate" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="VALID_THROUGH_DATE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
