datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3ACO%7DAS_CO_SimpleIntegerMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:CO"
  xmlns:tns="urn:com:appian:types:AS:CO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_CO_SimpleIntegerMapping">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e527-2bb6-8000-1abf-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e527-2bb6-8000-1abf-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[This CDT contains two integer fields.  One example of where this is useful is scenarios where a FK pointer is populated before a PK exists for the object being pointed to, and then needs to be remapped after that CDT has been written.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="valueOne" nillable="true" type="xsd:int"/>
      <xsd:element name="valueTwo" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
