datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_V_Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_OnboardingRequest.xsd"/>
  <xsd:complexType name="AS_IO_V_Product">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_V_PRODUCT")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>000fe7d2-fe70-8000-6427-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e30a-94a1-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e312-73e7-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e386-55b5-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e3cb-081c-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e41f-3f45-8000-fb7e-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e42e-e221-8000-fdb7-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0006e430-b218-8000-fe4f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e472-19fb-8000-073d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e47b-07ba-8000-082d-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e482-dbee-8000-08f3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e48e-08d6-8000-0bb9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0003e4a9-6b4e-8000-0f66-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0005e4d7-c76b-8000-1262-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0006e51c-1173-8000-19ab-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0001e525-6c0a-8000-1a96-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e544-fb19-8000-1d2c-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e58c-52ef-8000-2644-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0008e5b2-379d-8000-2a98-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64f-0914-8000-3ebb-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000ee6c7-6c71-8000-48b3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0012e72b-88a6-8000-5557-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e748-f14d-8000-584a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="000fe7d2-fe70-8000-6427-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Record View of Product with locales]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="productId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRODUCT_ID", nullable=false) @Id</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productTypeCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PRODUCT_TYPE_CODE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strategy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="STRATEGY")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isParent" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_PARENT")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isDeleted" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="IS_DELETED")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="request" nillable="true" type="tns:AS_IO_OnboardingRequest">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@ManyToOne(cascade=CascadeType.ALL) @JoinColumn(name="REQUEST_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
