datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_A_R_Template_Field.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_IO_A_R_Template_Field">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_A_R_TEMPLATE_FIELD")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7ff-a9e4-8000-6f20-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e3f5-d58b-8000-fa82-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3f7-90f4-8000-fad8-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e40a-86fb-8000-fc65-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e40b-ed24-8000-fc75-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e483-a42a-8000-08ff-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e598-8e27-8000-2874-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7ff-a9e4-8000-6f20-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Holds auditing data for `AS_IO_R_Template` - simple field change]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="templateAuditFieldId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="TEMPLATE_AUDIT_FIELD_ID", unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="templateAuditId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TEMPLATE_AUDIT_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fieldName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FIELD_NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oldValue" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="OLD_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="newValue" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="NEW_VALUE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
