datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TemplateTask.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:IO"
  xmlns:fs1="urn:com:appian:types:AS:FS"
  xmlns:tns="urn:com:appian:types:AS:IO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TaskRef.xsd"/>
  <xsd:include schemaLocation="%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AIO%7DAS_IO_R_TemplateTask_Precedent.xsd"/>
  <xsd:complexType name="AS_IO_R_TemplateTask">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">@Table(name="AS_IO_R_TEMPLATE_TASK")</xsd:appinfo>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e7ff-89ac-8000-6f19-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0002e3b5-ce02-8000-f92f-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3db-6a9d-8000-f968-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e3ed-c5e3-8000-f9c0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e3f8-7d9e-8000-faee-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e3fa-9cb1-8000-fb8a-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e400-40b6-8000-fbd0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e46c-8bca-8000-06b0-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e525-287f-8000-1a93-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0002e597-2535-8000-2829-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e64f-112e-8000-3ec3-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0004e6aa-4cb5-8000-4722-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7e7-005b-8000-67b9-7f0000014e7a"/>
            <ns2:historyInfo versionUuid="0000e7ff-89ac-8000-6f19-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[Maps tasks to a template; includes reference data and precedents]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="templateTaskId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="TEMPLATE_TASK_ID", nullable=false, unique=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="templateId" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TEMPLATE_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskRef" nillable="true" type="tns:AS_IO_R_TaskRef">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ONB_TASK_ID") @ManyToOne(cascade=CascadeType.REFRESH) @JoinColumn(name="TASK_REF_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orderNumber" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ORDER_NUMBER")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="groupAssignee" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="GROUP_ASSIGNEE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requiredDocumentTemplateUUID" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="REQUIRED_DOCUMENT_TEMPLATE_UUID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="templateTaskUUID" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TEMPLATE_TASK_UUID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_NAME")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskDesc" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TASK_DESC")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="templateTaskPrecedents" type="tns:AS_IO_R_TemplateTask_Precedent">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@OneToMany(cascade=CascadeType.ALL, indexed=false) @JoinColumn(name="TEMPLATE_TASK_ID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="slaDays" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SLA_DAYS")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="slaRule" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="SLA_RULE")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_BY", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CREATED_DATETIME", nullable=false)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_BY", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modifiedDatetime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MODIFIED_DATETIME", nullable=true)</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
