datatype/%7Burn%3Acom%3Aappian%3Atypes%3AAS%3AQNM%7DAS_QNM_R_Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types:AS:QNM"
  xmlns:tns="urn:com:appian:types:AS:QNM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AS_QNM_R_Data">
    <xsd:annotation>
      <xsd:appinfo source="http://www.appian.com/ae/types/2009">
        <ns2:Metadata xmlns:ns2="http://www.appian.com/ae/types/2009">
          <ns2:versionUuid>0000e469-2fd2-8000-fbf8-7f0000014e7a</ns2:versionUuid>
          <ns2:history>
            <ns2:historyInfo versionUuid="0000e469-2fd2-8000-fbf8-7f0000014e7a"/>
          </ns2:history>
        </ns2:Metadata>
      </xsd:appinfo>
      <xsd:documentation><![CDATA[QNM reference data CDT]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="label" nillable="true" type="xsd:string"/>
      <xsd:element name="type" nillable="true" type="xsd:string"/>
      <xsd:element name="code" nillable="true" type="xsd:string"/>
      <xsd:element name="sortOrder" nillable="true" type="xsd:int"/>
      <xsd:element name="icon" nillable="true" type="xsd:string"/>
      <xsd:element name="color" nillable="true" type="xsd:string"/>
      <xsd:element name="isActive" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
